<!-- Navigation bar -->

  <video autoplay muted loop class="back" src="assets/Hvid.webm">
    <source src="assets/Hvid.webm" type="video/webm">
    Your browser does not support the video tag.
  </video>
  

<div class="center-table">
  <h2>النقاط</h2>
  <table>
    <thead>
      <tr>
          <th>#</th>
          <th>اللاعب</th>
          <th>نقاط اللاعب</th>
      </tr>
  </thead>
      <tbody>
      <tr *ngFor="let user of users; let i= index;">
              <td class="#">{{i+1}}</td>
              <td class="name">{{ user.username}}</td>
              <td class="score">{{user.score}}</td>
      </tr>
    </tbody>
</table>
<!-- Content rendered by the router -->
<router-outlet>
  
  
</router-outlet>

<!-- Footer (optional) -->
