<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>

<img src="assets/Background.png" alt="" class="backImage">

<nav style="margin: 0px;">
  <ul style="margin: 0px;">
    <li><a routerLink="/">الرئيسية</a></li>
    <li><a routerLink="/competition">المسابقة</a></li>
    <li><a routerLink="/admin">المشرف</a></li>
    <li><a routerLink="/scores">النقاط</a></li>
  </ul>
</nav>
<router-outlet style="margin: 0px;">
  
  
</router-outlet>

<!-- Footer (optional) -->
<footer style="display: flex; justify-content: center;">
  <img src="assets\RQl.png" alt="Family Photo" style="width: 100px; height: 50px;">
  <p style="margin-left: 30px;">شركة تحسين جودة الحياة اللامحدودة © 2024</p>
</footer>
</body>

</html>