body{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.f {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

.f h2 {
    color: white;
    margin-bottom: 20px;
}

.f ul {
    list-style-type: none; 
    padding: 0;
}

.f li {
    background-color: rgb(18, 6, 75); 
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}
.f button {
    margin-left: 90px;
    background-color: #48a94b;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; 
}
.flex {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    justify-content: center; /* Center buttons vertically */
    height: 100%;
}
.flex button{
    margin-bottom: 40px;
}
.f button:hover {
    background-color: #45a049;
}
@media screen and (max-width: 800px){
    .f li{
        margin-bottom: 100px;
        padding: 10px;

    }
    .f button{
        margin-left: 90px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .flex button{
        margin-bottom: 20px;
        margin-right: 90px;
    }
}