
  

  
<div class="f">
    <h2 style="color: white; text-align: center;">Admin Panel KHRAAAAAA</h2>
    <div class="flex">
    <button (click)="resetGame()">Reset Game</button>

    <button (click)="forceNavigateScore()">Force Navigate to Score Page</button>
<button (click)="forceNavigateCompetition()">Force Navigate to Competition Page</button>
</div>

    <h3 style="color: white; text-align: center;">Click Order and Actions</h3>
    <ul>
        <li *ngFor="let click of clicks; let i=index">
          {{i+1}}: {{ click.username }} - Time: {{ click.timeClicked | date:'medium' }}
          <button (click)="updateScore(click, 10)">+10</button>
          <button (click)="updateScore(click, -10)">-10</button>
        </li>
      </ul>
      