body{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.f {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

.f h2 {
    color: white;
    margin-bottom: 20px; /* Space below the heading */
}

.f ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0; /* Remove default padding */
}

.f li {
    background-color: rgb(18, 6, 75); 
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.f button {
    margin-left: 90px;
    background-color: #48a94b;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; 
}

.f button:hover {
    background-color: #45a049;
}
