body{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
h1,h2{
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: white;
}