<video autoplay muted loop class="back" src="assets/Hvid.webm">
  <source src="assets/Hvid.webm" type="video/webm">
  Your browser does not support the video tag.
</video>

<div class="center-table">
  <h2>
    !من اللي ضغط أول
  </h2>
    <table>
      <thead>
          <tr>
              <th>#</th>
              <th>اللاعب</th>
              <th>النقاط</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let click of clicks; let i=index">
              <td class="number">{{i+1}}</td>
              <td class="name">{{ click.username }}</td>
              <td class="date">{{ click.timeClicked | date: 'medium' }}</td>
          </tr>
      </tbody>
  </table>
</div>
