body {
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
h1, h2 {
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: white;
}
.center-table {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "Rubik", sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-table th {
    color: rgb(0, 255, 98);
    padding: 15px 0px;
}
.center-table td {
    padding: 30px 100px;
    background-color: rgb(25, 3, 73);
    color: white;
}
.name {
    padding-right: 30px;
}
.number, .name, .date {
    text-align: center;
}
