

    <video autoplay muted loop class="back" src="assets/Hvid.webm">
      <source src="assets/Hvid.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>

    <div class="f">
      <div class="center">
        <h1 style="text-align: center; color: rgb(237, 231, 240);">مرحبًا بك في مسابقة شركة جودة تحسين الحياة اللامحدودة</h1>
        <h2 style="text-align: center; color: rgb(31, 25, 34); padding: 50px">اختر اسمك</h2>
        <ul>
          <ng-container *ngFor="let user of users">
            <li *ngIf="user.gender === 'woman'" (click)="onUserSelect(user)" style="background-color: rgb(26, 33, 83);">
              {{ user.username }}
                          <!-- خر هنا -->

            </li>
            <li *ngIf="user.gender === 'man'" (click)="onUserSelect(user)" style="background-color: rgb(26, 33, 83);">
              {{ user.username }}
                          <!-- خر هنا -->

            </li>
          </ng-container>
        </ul>
    </div>
    </div>