html {
    height: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This ensures padding does not affect the total width */
  }
  
body{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.center{
    padding: 20px;
    display: grid;
    place-items: center;

}
h1,h2,ul,li{
    margin: 0px;
}
h1,h2{
    font-family: "Rubik", sans-serif;
}
.f {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}


.f ul {
    list-style-type: none;
    padding: 0px;
}

.f li {
    background-color: rgb(27, 14, 97); 
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 25px 100px;
}
li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  
.f button:hover {
    background-color: #45a049;
}
img{
    width: 50px; height: 70px; margin:0px;
}
.women{
    width: 40px;
    height: 40px;
    margin: 0px;
}
@media screen and (max-width: 800px){
   .center{
    padding: 50px;
   }
   li {
    flex-direction: column; /* Stack the image and text on top of each other on small screens */
  }
  .f li{
    margin-bottom: 15px;
    padding: 10px 80px;

  }
}