

    <div class="f">

<div class="center">
    <h1 style="text-align: center; color: rgb(237, 231, 240);">مرحبًا بك في مسابقة شركة تحسين جودة الحياة اللامحدودة</h1>
    <h2 style="text-align: center; color: white;padding: 50px">اختر اسمك</h2>
    <ul>
      <li *ngFor="let user of users" (click)="onUserSelect(user)" style="background-color: rgb(26, 33, 83);">
        {{ user.username }}
        <img *ngIf="user.gender === 'man'" src="assets/man.png" alt="Man" class="man">
        <img *ngIf="user.gender === 'woman'" src="assets/Women.png" alt="Women" class="women">
      </li>
    </ul>
  </div>